@import "~scss/vars";
@import "~scss/mixins";

.sidebar {
  margin-top: 40px;
  height: $sz-board;
  display: flex;
  flex-direction: column;

  &> .button {
    margin-bottom: 10px;
  }

  &__text {
    @include text;
    margin-bottom: 25px;
  }

  &__players {
    display: flex;
    justify-content: space-between;

    .button {
      width: 48%;
    }
  }

  &__controls {
    display: flex;
    justify-content: space-between;

    .button {
      width: 22%;
    }
  }

  &__white {
    color: $clr-white;
  }

  &__black {
    color: $clr-black;
  }
}
