- pageTitle = 'Home'
- activeIndex = 0
doctype html
html(lang="en")
    include tmpl/head
    body
        .page-wrap
            .container
                include ../components/board/board
        include tmpl/sources