.button {
  font-size: 16px;
  background: $clr-face;
  color: $clr-text-alt;
  padding: 5px 10px;
  border: 1px solid $clr-face;
  outline: none;

  &:active {
    position: relative;
    top: 1px;
    left: 1px;
  }

  &:focus {
    outline: {
      style: dotted;
      color: $clr-face;
      width: 1px;
      offset: -1px;
    }
  }
}
