.button {
  font-size: 16px;
  background: $clr-face;
  color: $clr-text;
  padding: 5px 10px;
  border: 1px solid $clr-face;
  outline: none;

  &:active {
    position: relative;
    top: 1px;
    left: 1px;
  }

  &:focus {
    outline: {
      style: solid;
      color: $clr-outline;
      width: 1px;
    }
  }

  &:hover {
    color: lighten($clr-text, 10%);
  }
}
