$icons: (sprite: (width: 540px, height: 540px, svg-path: '../img/sprite.svg'),
  bb: (width: 45px, height: 45px, background-x: 0%, background-y: 0%, square-width: 45, square-height: 45),
  bk: (width: 45px, height: 45px, background-x: -45%, background-y: -45%, square-width: 45, square-height: 45),
  bn: (width: 45px, height: 45px, background-x: -90%, background-y: -90%, square-width: 45, square-height: 45),
  bp: (width: 45px, height: 45px, background-x: -135%, background-y: -135%, square-width: 45, square-height: 45),
  bq: (width: 45px, height: 45px, background-x: -180%, background-y: -180%, square-width: 45, square-height: 45),
  br: (width: 45px, height: 45px, background-x: -225%, background-y: -225%, square-width: 45, square-height: 45),
  wb: (width: 45px, height: 45px, background-x: -270%, background-y: -270%, square-width: 45, square-height: 45),
  wk: (width: 45px, height: 45px, background-x: -315%, background-y: -315%, square-width: 45, square-height: 45),
  wn: (width: 45px, height: 45px, background-x: -360%, background-y: -360%, square-width: 45, square-height: 45),
  wp: (width: 45px, height: 45px, background-x: -405%, background-y: -405%, square-width: 45, square-height: 45),
  wq: (width: 45px, height: 45px, background-x: -450%, background-y: -450%, square-width: 45, square-height: 45),
  wr: (width: 45px, height: 45px, background-x: -495%, background-y: -495%, square-width: 45, square-height: 45),
);
