$clr-black:                   #000;
$clr-white:                   #fff;

$clr-base:                    #616161;
$clr-face:                    #303030;
$clr-face-alt:                #454545;
$clr-text:                    #2d2d2d;
$clr-text-alt:                #b0b0b0;
$clr-head:                    $clr-text;
$clr-head-alt:                $clr-text-alt;
$clr-white-square:            rgb(209, 173, 100);
$clr-black-square:            rgb(143, 100, 55);
$clr-shadow-square:           rgb(117, 82, 44);
$clr-marked-white-square:     rgb(96, 181, 112);
$clr-marked-black-square:     rgb(86, 177, 103);
$clr-marked-shadow-square:    rgb(63, 150, 79);
$clr-selected-white-square:   rgb(140, 153, 212);
$clr-selected-black-square:   rgb(146, 142, 183);
$clr-selected-shadow-square:  rgb(125, 121, 156);
