$clr-black:                   #000;
$clr-white:                   #fff;

$clr-base:                    #616161;
$clr-face:                    #303030;
$clr-outline:                 #666;
$clr-face-alt:                #454545;
$clr-text:                    #b0b0b0;
$clr-head:                    $clr-text;
$clr-focus:                   #333;
$clr-white-square:            rgb(209, 173, 100);
$clr-black-square:            rgb(143, 100, 55);
$clr-shadow-square:           darken($clr-black-square, 10%);
$clr-marked-white-square:     rgb(96, 181, 112);
$clr-marked-black-square:     darken($clr-marked-white-square, 5%);
$clr-marked-shadow-square:    darken($clr-marked-white-square, 30%);
$clr-selected-white-square:   rgb(140, 153, 212);
$clr-selected-black-square:   darken($clr-selected-white-square, 5%);
$clr-selected-shadow-square:  darken($clr-selected-white-square, 30%);
$clr-check-square:            rgb(234, 210, 0);
$clr-check-shadow-square:     darken($clr-check-square, 30%);
$clr-mate-square:             rgb(234, 73, 73);
$clr-mate-shadow-square:      darken($clr-mate-square, 30%);
