
$icons: (sprite: (width: 540px, height: 540px, svgPath: '../img/sprite.svg'),
  bb: (width: 45px, height: 45px, backgroundX: 0%, backgroundY: 0%, squareWidth: 45, squareHeight: 45),
  bk: (width: 45px, height: 45px, backgroundX: -45%, backgroundY: -45%, squareWidth: 45, squareHeight: 45),
  bn: (width: 45px, height: 45px, backgroundX: -90%, backgroundY: -90%, squareWidth: 45, squareHeight: 45),
  bp: (width: 45px, height: 45px, backgroundX: -135%, backgroundY: -135%, squareWidth: 45, squareHeight: 45),
  bq: (width: 45px, height: 45px, backgroundX: -180%, backgroundY: -180%, squareWidth: 45, squareHeight: 45),
  br: (width: 45px, height: 45px, backgroundX: -225%, backgroundY: -225%, squareWidth: 45, squareHeight: 45),
  wb: (width: 45px, height: 45px, backgroundX: -270%, backgroundY: -270%, squareWidth: 45, squareHeight: 45),
  wk: (width: 45px, height: 45px, backgroundX: -315%, backgroundY: -315%, squareWidth: 45, squareHeight: 45),
  wn: (width: 45px, height: 45px, backgroundX: -360%, backgroundY: -360%, squareWidth: 45, squareHeight: 45),
  wp: (width: 45px, height: 45px, backgroundX: -405%, backgroundY: -405%, squareWidth: 45, squareHeight: 45),
  wq: (width: 45px, height: 45px, backgroundX: -450%, backgroundY: -450%, squareWidth: 45, squareHeight: 45),
  wr: (width: 45px, height: 45px, backgroundX: -495%, backgroundY: -495%, squareWidth: 45, squareHeight: 45),
);
