$icons: (
sprite: (width: 540px, height: 540px, svgPath: '../img/sprite.svg'),
bb: (width: 45px, height: 45px, backgroundX: 0px, backgroundY: 0px),
bk: (width: 45px, height: 45px, backgroundX: -45px, backgroundY: -45px),
bn: (width: 45px, height: 45px, backgroundX: -90px, backgroundY: -90px),
bp: (width: 45px, height: 45px, backgroundX: -135px, backgroundY: -135px),
bq: (width: 45px, height: 45px, backgroundX: -180px, backgroundY: -180px),
br: (width: 45px, height: 45px, backgroundX: -225px, backgroundY: -225px),
wb: (width: 45px, height: 45px, backgroundX: -270px, backgroundY: -270px),
wk: (width: 45px, height: 45px, backgroundX: -315px, backgroundY: -315px),
wn: (width: 45px, height: 45px, backgroundX: -360px, backgroundY: -360px),
wp: (width: 45px, height: 45px, backgroundX: -405px, backgroundY: -405px),
wq: (width: 45px, height: 45px, backgroundX: -450px, backgroundY: -450px),
wr: (width: 45px, height: 45px, backgroundX: -495px, backgroundY: -495px),
);