$icons: (
        sprite: (width: 180px, height: 135px, svgPath: '../img/sprite.svg'),
bb: (width: 45px, height: 45px, backgroundX: -45px, backgroundY: 0px),
bk: (width: 45px, height: 45px, backgroundX: 0px, backgroundY: -90px),
bn: (width: 45px, height: 45px, backgroundX: 0px, backgroundY: -45px),
bp: (width: 45px, height: 45px, backgroundX: -45px, backgroundY: -45px),
bq: (width: 45px, height: 45px, backgroundX: -90px, backgroundY: 0px),
br: (width: 45px, height: 45px, backgroundX: -90px, backgroundY: -45px),
wb: (width: 45px, height: 45px, backgroundX: 0px, backgroundY: 0px),
wk: (width: 45px, height: 45px, backgroundX: -45px, backgroundY: -90px),
wn: (width: 45px, height: 45px, backgroundX: -90px, backgroundY: -90px),
wp: (width: 45px, height: 45px, backgroundX: -135px, backgroundY: 0px),
wq: (width: 45px, height: 45px, backgroundX: -135px, backgroundY: -45px),
wr: (width: 45px, height: 45px, backgroundX: -135px, backgroundY: -90px),
);