@import "~scss/vars";

.button {
  font-size: 16px;
  background: $clr-face;
  color: $clr-text;
  border-radius: 2px;
  padding: 5px 10px;
  border: 1px solid $clr-face;
  outline: none;

  &:active {
    position: relative;
    top: 1px;
    left: 1px;
  }

  &:focus {
    border-color: $clr-outline;
  }

  &:hover {
    background: lighten($clr-face, 2%);
  }
}
