@import "~scss/vars";
@import "~scss/mixins";

.fen {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto 40px;
}

.fen__input {
  flex-grow: 1;
  height: 20px;
  font-size: 13px;
  outline: none;
  border: 0;
  background: $clr-face;
  color: $clr-text;
  padding-left: 5px;
  margin-right: 5px;
}

.button_fen {
  height: 22px;
  font-size: 13px;
  padding: 0 5px;
}
