.square {
  position: relative;
  height: 12.5%;
  width: 12.5%;
  border-width: 0;
  outline: none;

  &:focus {
    &::after,
    &::before {
      box-sizing: border-box;
      position: absolute;
      content: "";
      left: 5%;
      top: 5%;
      width: 90%;
      height: 90%;
      border: 1px solid $clr-black;
    }

    &::after {
      border: 1px dashed $clr-white;
    }
  }

}

.square_white {
  background: $clr-white-square;
  box-shadow: inset 0 0 50px -10px $clr-shadow-square;
}

.square_black {
  background: $clr-black-square;
  box-shadow: inset 0 0 50px -10px $clr-shadow-square;
}

.square_selected {
  background: $clr-selected-black-square;
  box-shadow: inset 0 0 50px -10px $clr-selected-shadow-square;
}

.square_marked_white {
  background: $clr-marked-white-square;
  box-shadow: inset 0 0 50px -10px $clr-marked-shadow-square;
}

.square_marked_black {
  background: $clr-marked-black-square;
  box-shadow: inset 0 0 50px -10px $clr-marked-shadow-square;
}

@mixin piece($i) {
  $piece: map-get($icons, $i);
  $sprite: map-get($icons, sprite);
  $x-position: map-get($piece, background-x) / map-get($piece, square-height) * 100;
  $y-position: map-get($piece, background-y) / map-get($piece, square-width) * 100;

  background-image: url(map-get($sprite, svg-path));
  background-position: $x-position $y-position;
  background-size: 1200% 1200%;
}

.square_pawn_white {
  @include piece(wp);
}

.square_pawn_black {
  @include piece(bp);
}

.square_rook_white {
  @include piece(wr);
}

.square_rook_black {
  @include piece(br);
}

.square_knight_white {
  @include piece(wn);
}

.square_knight_black {
  @include piece(bn);
}

.square_bishop_white {
  @include piece(wb);
}

.square_bishop_black {
  @include piece(bb);
}

.square_queen_white {
  @include piece(wq);
}

.square_queen_black {
  @include piece(bq);
}

.square_king_white {
  @include piece(wk);
}

.square_king_black {
  @include piece(bk);
}

.board_white.board_check {
  .square_king_white {
    background: $clr-check-square;
    box-shadow: inset 0 0 50px -10px $clr-check-shadow-square;
    @include piece(wk);
  }
}

.board_black.board_check {
  .square_king_black {
    background: $clr-check-square;
    box-shadow: inset 0 0 50px -10px $clr-check-shadow-square;
    @include piece(bk);
  }
}

.board_white.board_mate {
  .square_king_white {
    background: $clr-mate-square;
    box-shadow: inset 0 0 50px -10px $clr-mate-shadow-square;
    @include piece(wk);
  }
}

.board_black.board_mate {
  .square_king_black {
    background: $clr-mate-square;
    box-shadow: inset 0 0 50px -10px $clr-mate-shadow-square;
    @include piece(bk);
  }
}
