.sidebar
  margin-top: 40px
  margin-left: 40px
  @media screen and (max-width: 640px)
    margin-left: 0
    padding-left: 0
    box-shadow: none

.sidebar__text
  @include text
  margin-bottom: 25px

.sidebar__widget
  margin-bottom: 15px
  overflow: hidden
