.sidebar {
  margin-top: 40px;
  margin-left: 40px;
  height: $sz-board;
  display: flex;
  flex-direction: column;

  &> .button {
    margin-bottom: 10px;
  }

  &__controls {
    display: flex;
    justify-content: space-between;
  }
}

.sidebar__text {
  @include text;
  margin-bottom: 25px;
}

.sidebar__widget {
  margin-bottom: 15px;
  overflow: hidden;
}
