aside.sidebar
    .sidebar__widget
        h3.sidebar__title
            a(href='about.html') about simple
        .sidebar__content
            p.sidebar__text Lorem ipsum dolor sit amet, consetur adipisicing elit. Asperiores aut dignissimos error,
                |libero maiores molestiae reiciendis! Adipisci aliquid consequatur doloribus.
        .sidebar__content
            include ../social/social
    .sidebar__widget
        h3.sidebar__title
            a(href='services.html') list
        ul.sidebar__content.sidebar__list
            li.sidebar__list-item
                a(href='blog.html') First
            li.sidebar__list-item
                a(href='blog.html') Second
            li.sidebar__list-item
                a(href='blog.html') Third
            li.sidebar__list-item
                a(href='blog.html') Fourth