@import "~scss/mixins";
@import "~scss/vars";

body {
  counter-reset: moves;
}

.move {
  @include text;
  position: relative;
  background: transparent;
  border: 0;
  text-align: left;
  font-size: 0.8rem;
  outline: none;
  cursor: pointer;
  padding: 5px;
  margin: 0;

  &_white {
    &::before {
      counter-increment: moves;
      content: counter(moves)". ";
      color: $clr-text-alt;
      font-weight: 700;
    }
  }

  &_active {
    color: $clr-white;
    font-weight: 600;
  }

  &:hover,
  &:focus  {
    color: $clr-white;
  }
}
