@import "~scss/mixins";
@import "~scss/vars";

body {
  counter-reset: moves;
}

.move {
  @include text;
  font-family: $ff-mono;
  position: relative;
  background: transparent;
  border: 0;
  text-align: left;
  font-size: 1rem;
  outline: none;
  cursor: pointer;
  padding: 0 5px 0 0;
  margin: 0;
  transition-property: font-weight, font-weight, color, text-shadow;
  transition-duration: 0.2s;

  &_active,
  &:hover,
  &:focus {
    color: $clr-white;
  }

  &_active {
    text-shadow: 0 0 20px $clr-black;
    font-weight: 600;
  }

  &_white {
    &::before {
      counter-increment: moves;
      content: counter(moves)".";
      color: $clr-text-alt;
      font-size: 1rem;
      text-shadow: none;
      font-weight: 500;
    }
  }
}
