.piece_drag {
  position: absolute;
  z-index: 1000;
  transform: translateX(-50%) translateY(-50%);
}

.board-container_flipped {
  .piece_drag {
    transform: translateX(-50%) translateY(-50%) rotate(0);
  }
}
