.board {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  height: 480px;
  width: 480px;
  margin: 40px auto;
}

.board_flipped {
  flex-direction: column;
  flex-wrap: wrap-reverse;
}
