@import "~scss/vars";
@import "~scss/mixins";

.movelist {
  @include text;
  vertical-align: middle;
  position: relative;
  flex: 1 1;
  width: 220px;
  overflow-y: scroll;
  border: 1px solid $clr-face;
  border-radius: 2px;
  margin-bottom: 10px;

  &__moves {
    display: flex;
    flex-wrap: wrap;
  }

  &::-webkit-scrollbar-track {
    border-radius: 0 2px 2px 0;
    background-color: $clr-base;
  }

  &::-webkit-scrollbar {
    width: 10px;
    background-color: $clr-face;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $clr-face;
  }
}
