.social-box
    a.social-box__link(href="http://facebook.com")
        i.icon.icon-facebook
        =' '
    a.social-box__link(href="http://vimeo.com")
        i.icon.icon-vimeo
        =' '
    a.social-box__link(href="#")
        i.icon.icon-rss
        =' '
    a.social-box__link(href="http://twitter.com")
        i.icon.icon-twitter
        =' '
    a.social-box__link(href="mailto: ansolaris@gmail.com")
        i.icon.icon-mail
        =' '